// pixelated is what we want but not every browser supports it, so
// we have crisp-edges as a fallback
canvas#emu-screen {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#emu-screen {
    width: 100%;
}