@use "../../theme.scss";

#app-background {
    background: theme.$sky-grad;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#grid {
  position: fixed;
  left: -100%;
  right: -100%;
  bottom: -50%;
  top: 0;
  overflow: hidden;
  
  background:
    linear-gradient(to top, transparent, theme.$sky-dark),
     repeating-linear-gradient(0deg,
       transparent 0px 50px,
       theme.$neon-pink 50px 55px,
       transparent 55px 100px
     ),
    repeating-linear-gradient(90deg,
       transparent 0px 50px,
       theme.$neon-pink 50px 55px,
       transparent 55px 100px
    ),
    theme.$sky-dark;
  transform: perspective(100em) rotate3d(1, 0, 0, 60deg);
}

.gutter {
    display: flex;
    flex-direction: row;

    .gutter-spacer {
        flex-grow: 1;
    }

    .gutter-content {
        min-width: 300px;
        max-width: 1500px;
        flex-grow: 1;
    }
}